.movie-card{
  width: auto;
  display: grid;
  grid-template-columns: 50% 50% ;
}
.sep-card{
  border: 1px solid green;
  height: 150px
}
.details-movie{
  height : 150px;
  position: relative;
}
.headline-div{
  width: auto;
  display: grid;
  grid-template-columns: 50% 50% ;
}
.bookmarked-div{
  height: 40px;
}
.name-div{
 height: 40px; 
}

#movie-name{
  word-wrap: break-word;
  text-align: center;
  font-size: 11px;
  /* word-wrap: break-word */
}
#bookmarked-btn{
  font-size: 8.5px;
  /* border-radius: 5px; */
}
.title-div{
  /* border: 1px solid red; */
  height: 85px;
  overflow: hidden;
  text-overflow: ellipsis; 
}
#movie-title{
 
  font-size: 11px;
}
#pic{
  width: 100%;
  display: block;
  height: 100%;
  /* vertical-align: bottom; */
}
#movie-date{
  /* margin-top: 50px; */
  text-align: center;
  word-wrap: break-word;
  font-size: 11px;

}
.date-div{
  /* position: absolute;
  left: 0;
  bottom: 0; */
  height: 20px;
}